body{
    background-color: #EFEFEF;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}
h2{
    margin: 10px;
}
.color{
    color: #3652E1;
}
.home{
    display: flex;
    width: 250px;
    justify-content: space-between;
    font-size: 13px;
}
.menu{
    font-size: 18px;
    color: #3652E1;
    font-weight: 900;
    display: none;
    margin: 0;
}


#first{
    background-image: url(/IMG/article-background.png);
    width: 65%;
    height: 549px;
    display: flex;
    padding: 0 200px;
    background-repeat: no-repeat;
    justify-content: space-between;
}
.big{
    width: 60%;
}
h3{
    font-size: 30px;
    color: #3652E1;
    margin-top: 10px;
    margin-bottom: 0;
}
.search{
    background-color: #E8E8E8;
    border: none;
    border-radius: 50px;
    color: #8E8E8E;
    padding: 10px;
    margin: 0;
    width: 250px;
}

#box-slider{
    position: relative;
    width: 500px;
    text-align: left;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    vertical-align: middle;
}
.radio{
    width: 100px;
    color: #8E8E8E;
    display: inline-block;
    margin-left: 20px;
}

.cat{
    display: flex;
    width: 500px;
    justify-content: space-between;
}
.all{
    color: #3652E1;
    font-weight: bold;
}
h4{
    color: #8E8E8E;
    font-weight: 400;
}
#selection{
    font-size: 18px;
    padding: 5px;
    border: 1px solid #3652E1;
    border-radius: 5px;
}
#container{
    position: relative;
    width: 100%; /* Fills the width of its container */
    text-align: left;
    white-space: nowrap; /* Prevents content from wrapping */
    overflow-x: hidden;  /* Enables horizontal scrollbar */
    overflow-y: auto;  /* Enables vertical scrollbar */
    vertical-align: middle;  /* Might have minimal effect here */
    height: 400px; 
}
::-webkit-scrollbar{
    display: none;
}
.atr{
    width: 510px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
}
#img-atr{
    background-image: url(/IMG/atr.png);
    width: 160px;
    height: 145px;
    border-radius: 5px;
}
#txt-atr{
    margin-left: 10px;
    
}
.black{
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.name{
    color: black;
    font-weight: bold;
}
.the{
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.env{
    background-color: #00B33D;
    width: 100px;
    padding: 3px;
    text-align: center;
    color: white;
    font-size: 13px;
    margin: 0;
    height: 20px;
    border-radius: 5px;
}
.more{
    margin: 0;
}
#env{
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.more{
    background-color: #3652E1;
    width: 100px;
    padding: 3px;
    text-align: center;
    color: white;
    font-size: 13px;
    margin: 0;
    height: 20px;
    border-radius: 5px;
}



.small{
    margin-top: 100px;
    width: 36%;
}
.account{
    background-color: #3652E1;
    color: white;
    padding: 10px;
    font-size: 20px;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
}
.trend{
    background-color: white;
    width: 320px;
    padding: 5px;
    border-radius: 10px;
}
#trend{
    display: flex;
    justify-content: space-around;
    height: 50px;
    margin-bottom: 20px;
}
.txt-trd{
    font-size: 30px;
    margin-left: 10px;
    margin-top: 0;
    white-space: nowrap;
}
.img-trend{
    background-image: url(/IMG/trend.png);
    width: 47px;
    height: 47px;
}
.how{
    font-size: 13px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.flex{
    display: flex;
    justify-content: space-around;
    width: 150px;
}
.blue{
    font-size: 13px;
    background-color: #3652E1;
    color: white;
    width: 50px;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}
.selection{
    margin: 10px;
    display: none;
}


@media screen and (max-width: 1400px) {
    header{
        padding: 0 50px;
    }
    #first{
        padding: 0 100px;
        background-image: none;
        width: 80%;
    }
}

@media screen and (max-width: 1110px) {
    header{
        padding: 0 30px;
    }
    #first{
        padding: 0 50px;
        width: 90%;
    }
}

@media screen and (max-width: 990px) {
    #first{
        flex-direction: column;
        width: 100%;
    }
    .big{
        width: 90%;
    }
    .small{
        width: 70%;
    }
    
    
}

@media screen and (max-width: 610px) {
    header{
        padding: 0 20px;
    }
    #first{
        padding: 0 30px;
    }
    #box-slider{
        display: none;
    }
    .selection{
        display: block;
    }
    .home{
        display: none;
    }
    .menu{
        display: block;
    }
    .search{
        width: 300px;
    }
    .atr{
        flex-direction: column;
        width: 500px;
    }
    #img-atr{
        margin: auto;
    }
    #env{
        width: 250px;
        justify-content: space-between;
    }
    
}
@media screen and (max-width: 500px) {
    .atr{
        width: 400px;
    }
}
@media screen and (max-width: 430px) {
    .atr{
        width: 300px;
    }
}
@media screen and (max-width: 362px) {
    #env{
        flex-direction: column;
    }
    .env{
        margin-bottom: 5px;
    }
    header{
        padding: 0 5px;
     
    }
    .atr{
        width: 260px;
    }
    .trd{
        width: 100%;
    }
    .img-trend{
        display: none;
    }
    .trend{
        width: 260px;
    }
}
@media screen and (max-width: 321px) {
    .atr{
        width: 200px;
    }
    .trend{
        width: 200px;
    }
    .search{
        width: 200p;
    }
}